<ng-container *ngIf="hasRoute('/edicion'); else noEditCircles">
  <div class="container" [id]="circle.id">
    <div class="progress-wrapper">
      <div class="current" [ngStyle]="getOverlayStyle()">
        {{ circle.current }}%
      </div>
      <round-progress
        [current]="circle.current"
        [max]="circle.max"
        [semicircle]="circle.semicircle"
        [radius]="circle.radius"
      ></round-progress>
    </div>

    <button (click)="increment()">Incrementar</button>
    <button (click)="decrement(1)">Reducir</button>

    <button (click)="increment(10)">Incrementar (10)</button>
    <button (click)="decrement(10)">Reducir (10)</button>

    <div>
      <p>{{ circle.id }}</p>
      <button
        [id]="'saveButton' + circle.id"
        [disabled]="buttonDisabled"
        (click)="saveCircle(circle)"
      >
        Guardar
      </button>
      <button [id]="'deleteButton' + circle.id" (click)="borrarCirculo(circle)">
        Borrar
      </button>
    </div>
  </div>
</ng-container>
<ng-template #noEditCircles>
  <div class="container" [id]="circle.id">
    <div class="progress-wrapper">
      <div class="current" [ngStyle]="getOverlayStyle()">
        {{ circle.current }}%
      </div>
      <round-progress
        [current]="circle.current"
        [max]="circle.max"
        [semicircle]="circle.semicircle"
        [radius]="circle.radius"
      ></round-progress>
    </div>
    <p>{{ circle.id }}</p>
  </div>
</ng-template>
