.progress-wrapper {
  position: relative;
  margin: 20px auto;
  font-size: 40px;
}

.current {
  position: absolute;
  color: #bbb;
  font-weight: 100;
  line-height: 1;
}

.container {
  width: 100%;
  max-width: 650px;
  margin: 40px auto;
  padding: 25px;
  text-align: center;
  padding: px;
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 4px;
}

round-progress {
  margin: auto;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background: #45ccce;
  color: #fff;
  font-size: px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  margin: 0 5px 5px 0;
}

button:disabled {
  background: #cccccc;
}

.closing {
  animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-name: closing;
  animation-duration: 500ms;
}

@keyframes closing {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
